# includes:
#     - vendor/phpstan/phpstan-phpunit/extension.neon
#     - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 5
    paths:
        - src
    # excludes_analyse:
    #     - tests/bootstrap.php
    # bootstrapFiles:
    #     - bin/.phpunit/phpunit/vendor/autoload.php
