// Parcourir, sélectionner un fichier
.custom-file {
    cursor: pointer;
    input::placeholder {
        color: $gray-800;
    }
}
::placeholder {
    color: $gray-800 !important;
}
.custom-file-label:after {
    background-color: $brand-primary;
    border-color: $brand-primary;
    outline-color: $brand-primary;
    color: #fff;
    font-weight: bolder;
    &:hover {
        background-color: $brand-dark;
        border-color: $brand-dark;
    }
}
.custom-file-input:lang(fr) ~ .custom-file-label:after {
    content: "Parcourir";
}

// astérisque après les labels des champs requis
.control-label.required,
.checkbox label.required,
.float-target-parent label.required,
legend.col-form-label.required {
    &:after {
        content: "\00a0*";
    }
}

// Texte en gris même si .description est en dehors d'un form
.description {
    color: $gray-600
}
