// Ajustement de la position verticale du choix des mots clés
// Le menu est sinon placé trop bas de la taille du header
.tagify__dropdown {
    margin-top: -7em;
}
.tagify {
    --tag-bg: #7eb9f7 !important;
    --tag-hover: #3993f3 !important;
}
