// Ajustement de la position verticale du choix des mots clés
// Le menu est sinon placé trop bas de la taille du header
.tagify__dropdown {
    margin-top: -7em;
}
.tagify.form-control {
    overflow-y: auto;
}
.tagify {
    --tag-bg: #e1eefd !important;
    --tag-hover: #7eb9f7 !important;
}
