{% trans_default_domain "PlageWebClient" %}

{% block body_html %}
    {% apply spaceless %}
    <h2>{% block subject %}{% endblock %}</h2>

    <p>
        {{ 'mailer.hello'|trans }},
    </p>

    {% block body %}{% endblock %}

    <p>{{ 'mailer.signature'|trans({'%href%':url('plage_home')})|raw }}</p>

    {% endapply %}
{% endblock %}  

{% block contact %}{% endblock %}
