div.toggle.hidden, button.toggle.hidden {
    display: none;
}

span.table-valid {
    display: none;
}

.tippecanoe {
    .o-teaser {
        border: .5em solid white;
        cursor: pointer;
    }

    .o-teasers__item.active .o-teaser {
        border-color: $mainColor;
    }
}