{# Menu de navigation en header pour les pages home, contact, about...
   et autres pages essentiellement éditoriales #}

<li class="nav-item {# is-active #}">
    <a class="nav-link" href="{{ path('plage_home') }}#how-it-works">Comment ça marche ?</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="https://www.ign.fr/geoplateforme/la-geoplateforme-en-bref">À propos</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{{ path('plage_doc') }}">Qu'est-ce qu'un flux de tuiles vectorielles ?</a>
</li>