<template id="template-table-accordeon">
    <div class="mb-1">
        <div class="card" >
            <h3 class="card-title o-accordion__title mb-0">
                <a class="o-accordion__header" role="tab" data-toggle="collapse"></a>
            </h3>
            <div class="o-accordion__panel card-collapse collapse">
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</template>

<template id="template-table-column">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="table-field custom-control-input">
        <label class="checkbox-custom custom-control-label"></label>
    </div>    
</template>