
        <li class="megamenu__item univers--particulier">
                    <button class="megamenu__link is-active" type="button" data-toggle="collapse" data-target="#megamenu__collapse-0" aria-controls="megamenu__collapse-0" aria-expanded="false">
                <span class="icon-user" aria-hidden="true"></span>                <span class="megamenu__link-title">Portail particuliers</span>
                
                <span class="sr-only">Portail actif</span>            </button>

            <div class="collapse megamenu__collapse" id="megamenu__collapse-0" data-parent="#megamenuAccordion">
                <div class="megamenu__collapse-inner">
                    <div class="container-content">
    <div class="o-teaser-site__list">
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site bg-univers-particulier-primary univers--particulier    ">

    <p class="m-teaser-site__title">
                <a href="https://ignrando.fr/fr/" target="_blank">
                                <span class="m-teaser-site__title-text">IGNrando'</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://ignrando.fr/fr/" class="btn btn-sm btn--plain btn--white " target="_blank">Chercher un parcours                </a>
                            <a href="https://ignrando.fr/fr/communautes" class="btn btn-sm btn--ghost  btn--white " target="_blank">Rejoindre ou créer une communauté                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--particulier    ">

    <p class="m-teaser-site__title">
                <a href="https://ignrando.fr/boutique/" target="_blank">
                                <span class="m-teaser-site__title-text">Boutique IGNrando'</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://ignrando.fr/boutique/" class="btn btn-sm btn--plain btn--univers-particulier " target="_blank">Trouver une carte                </a>
                            <a href="https://ignrando.fr/boutique/cac_accueil" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Créer une carte personnalisée                </a>
                            <a href="https://ignrando.fr/boutique/applis-logiciels.html" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Voir les applis de randonnée                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--particulier    ">

    <p class="m-teaser-site__title">
                <a href="https://remonterletemps.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Remonter le temps</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://remonterletemps.ign.fr/comparer/basic?x=2.117437&amp;y=46.489054&amp;z=6&amp;layer1=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD&amp;layer2=ORTHOIMAGERY.ORTHOPHOTOS.1950-1965&amp;mode=doubleMap" class="btn btn-sm btn--plain btn--univers-particulier " target="_blank">Comparer des cartes et des photos aériennes anciennes et actuelles                </a>
                            <a href="https://remonterletemps.ign.fr/telecharger?x=2.117437&amp;y=46.489054&amp;z=6&amp;layer=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD&amp;demat=DEMAT.PVA%24GEOPORTAIL%3ADEMAT%3BPHOTOS&amp;missionId=missions.4984712" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Télécharger des clichés et des cartes historiques                </a>
                            <a href="https://remonterletemps.ign.fr/poster?x=2.117437&amp;y=46.489054&amp;z=6&amp;layer1=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD&amp;layer2=ORTHOIMAGERY.ORTHOPHOTOS.1950-1965" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Commander un poster historique                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--particulier    ">

    <p class="m-teaser-site__title">
                <a href="https://www.geoportail.gouv.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Géoportail</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://www.geoportail.gouv.fr/" class="btn btn-sm btn--plain btn--univers-particulier " target="_blank">Rechercher un lieu                </a>
                            <a href="https://www.geoportail.gouv.fr/carte?c=3.2378515646577615%2C46.961921400462785&amp;z=6&amp;l0=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD%3A%3AGEOPORTAIL%3AOGC%3AWMTS%281%29&amp;l1=ORTHOIMAGERY.ORTHOPHOTOS%3A%3AGEOPORTAIL%3AOGC%3AWMTS%281%29&amp;permalink=yes" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Visualiser des données                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--particulier    ">

    <p class="m-teaser-site__title">
                <a href="http://www.ign.fr/minecraft" target="_blank">
                                <span class="m-teaser-site__title-text">Minecraft® à la carte</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="http://www.ign.fr/minecraft" class="btn btn-sm btn--plain btn--univers-particulier " target="_blank">Générer une carte Minecraft®                </a>
                            <a href="https://dl-minecraft.ign.fr/pregendata/minecraft_alac-Pilat.zip" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Télécharger une carte pré-générée                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--particulier    ">

    <p class="m-teaser-site__title">
                <a href="https://www.ensg.eu/" target="_blank">
                                <span class="m-teaser-site__title-text">L'ENSG, l'école de la géomatique</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://www.ensg.eu" class="btn btn-sm btn--plain btn--univers-particulier " target="_blank">Découvrir l'école                </a>
                            <a href="https://www.ensg.eu/formation" class="btn btn-sm btn--ghost  btn--univers-particulier " target="_blank">Voir l'offre de formation                </a>
                    </div>
    </article>
            </div>
            </div>
</div>

                    <div class="container-content">
    <div class="o-banner o-banner--bg">
                  <a class="o-banner__inner" href="https://ignrando.fr/boutique/appli-randonnee-ignrando" target="_blank">
        
            <div class="o-banner__inner--smaller">
                
                
                                <div class="o-banner__desc"><p class="text-align-center"><strong>Richesse des parcours | Aide au guidage | Accessibilité hors ligne</strong></p>

<h3 class="text-align-center"><strong>Ne partez plus sans l'appli IGNrando' !</strong></h3>
</div>
                
                                <div class="o-banner__btn">
                    <span class="
                      btn
                      btn-active-effect
                      btn-width--lg
                       btn--plain                       btn--univers-particulier                     ">Découvrez l'appli<span class="icon-external-link" aria-hidden="true"></span>                    </span>
                </div>
                            </div>

                </a>
        
                <div class="m-media-background">
    <img src="http://pignsintiapp01.hosting.cegedim.cloud/sites/default/files/styles/980_400/public/2021-05/IGNrando_portailparticuliers_1240x600_v4_0.png?itok=7GFSQRQJ" alt="">
</div>
            </div>
</div>
                </div>
            </div>
            </li>
        <li class="megamenu__item univers--professionnel">
                    <button class="megamenu__link" type="button" data-toggle="collapse" data-target="#megamenu__collapse-1" aria-controls="megamenu__collapse-1" aria-expanded="true">
                <span class="icon-pro" aria-hidden="true"></span>                <span class="megamenu__link-title">Portail professionnels</span>
                
                            </button>

            <div class="megamenu__collapse collapse show" id="megamenu__collapse-1" data-parent="#megamenuAccordion">
                <div class="megamenu__collapse-inner">
                    <div class="container-content">
    <div class="o-teaser-site__list">
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site bg-univers-professionnel-primary univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://geoservices.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Géoservices</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://geoservices.ign.fr/telechargement" class="btn btn-sm btn--plain btn--white " target="_blank">Télécharger les jeux de données de référence                </a>
                            <a href="https://geoservices.ign.fr/documentation" class="btn btn-sm btn--ghost  btn--white " target="_blank">Accéder à la documentation                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://espacecollaboratif.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Espace collaboratif</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://espacecollaboratif.ign.fr/georem/add" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Créer un signalement                </a>
                            <a href="https://espacecollaboratif.ign.fr/georem/" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Parcourir les signalements                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://geodesie.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Géodésie</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://geodesie.ign.fr/fiches/index.php?module=e&amp;action=visugeod" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Accéder au serveur de fiches géodésiques                </a>
                            <a href="http://rgp.ign.fr/" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Visualiser le Réseau GNSS permanent                </a>
                            <a href="https://geodesie.ign.fr/index.php?page=circe" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Convertir des coordonnées avec Circé                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://inventaire-forestier.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Inventaire forestier</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://inventaire-forestier.ign.fr/spip.php?rubrique257=" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Découvrir l'expertise forestière IGN                </a>
                            <a href="https://inventaire-forestier.ign.fr/spip.php?rubrique233=" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Accéder aux résultats d'inventaire                </a>
                            <a href="https://foret.ign.fr/IGD/" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Consulter les indicateurs de gestion durable                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://spatial.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Spatial</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://spatial.ign.fr/carte" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Voir les images satellites                </a>
                            <a href="https://spatial.ign.fr/services" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Accéder aux services du portail spatial                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://ignrando.fr/fr/espace-pro" target="_blank">
                                <span class="m-teaser-site__title-text">IGNrando' </span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://ignrando.fr/fr/communautes" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Créer une communauté                </a>
                            <a href="https://ignrando.fr/fr/parcours" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Publier un parcours                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://espace-revendeurs.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Espace revendeurs</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://espace-revendeurs.ign.fr/nouveaux" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Découvrir les nouveautés IGN                </a>
                            <a href="https://espace-revendeurs.ign.fr/rayonnage/" class="btn btn-sm btn--ghost  btn--univers-professionnel " target="_blank">Constituer un rayon IGN                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://www.ensg.eu/" target="_blank">
                                <span class="m-teaser-site__title-text">L'ENSG, l'école de la géomatique</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://www.ensg.eu/Formations-professionnelles" class="btn btn-sm btn--plain btn--univers-professionnel " target="_blank">Voir les formations professionnelles                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site bg-univers-carto-primary univers--professionnel    ">

    <p class="m-teaser-site__title">
                <a href="https://www.ign.fr/carto" target="_blank" class=" external-link">
                                <span class="m-teaser-site__title-text">Portail carto</span>
            <span class="m-teaser-site__title-link">Accéder au portail</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://www.ign.fr/carto" class="btn btn-sm btn--plain btn--white  external-link" target="_blank">Découvrir tous les services carto                </a>
                    </div>
    </article>
            </div>
            </div>
</div>

                    <div class="container-content">
    <div class="o-banner o-banner--bg">
                  <a class="o-banner__inner external-link" href="https://www.ign.fr/geoplateforme/abonnez-vous-la-lettre-geoplateforme" target="_blank">
        
            <div class="o-banner__inner--smaller">
                
                
                                <div class="o-banner__desc"><p> </p>

<p> </p>

<h3>Ne manquez rien de l'actualité de la Géoplateforme</h3>

<p> </p>
</div>
                
                                <div class="o-banner__btn">
                    <span class="
                      btn
                      btn-active-effect
                      btn-width--lg
                       btn--plain                       btn--primary                     ">Abonnez-vous à la lettre d'information<span class="icon-external-link" aria-hidden="true"></span>                    </span>
                </div>
                            </div>

                </a>
        
                <div class="m-media-background">
    <img src="http://pignsintiapp01.hosting.cegedim.cloud/sites/default/files/styles/980_400/public/2022-01/banniere_lancement_nl_geoplateforme_1240x600_v4bis_0.png?itok=xXnlD6hq" alt="">
</div>
            </div>
</div>
                </div>
            </div>
            </li>
        <li class="megamenu__item univers--carto">
                    <button class="megamenu__link" type="button" data-toggle="collapse" data-target="#megamenu__collapse-2" aria-controls="megamenu__collapse-2" aria-expanded="false">
                <span class="icon-map" aria-hidden="true"></span>                <span class="megamenu__link-title">Portail carto</span>
                
                            </button>

            <div class="collapse megamenu__collapse" id="megamenu__collapse-2" data-parent="#megamenuAccordion">
                <div class="megamenu__collapse-inner">
                    <div class="container-content">
    <div class="o-teaser-site__list">
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site bg-univers-carto-primary univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://www.geoportail.gouv.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Géoportail</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://www.geoportail.gouv.fr/" class="btn btn-sm btn--plain btn--white " target="_blank">Rechercher un lieu                </a>
                            <a href="https://www.geoportail.gouv.fr/carte?c=3.2378515646577615%2C46.961921400462785&amp;z=6&amp;l0=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD%3A%3AGEOPORTAIL%3AOGC%3AWMTS%281%29&amp;l1=ORTHOIMAGERY.ORTHOPHOTOS%3A%3AGEOPORTAIL%3AOGC%3AWMTS%281%29&amp;permalink=yes" class="btn btn-sm btn--ghost  btn--white " target="_blank">Visualiser des données                </a>
                            <a href="https://www.geoportail.gouv.fr/" class="btn btn-sm btn--ghost  btn--white " target="_blank">Créer et partager une carte                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://geoservices.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Géoservices</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://geoservices.ign.fr/telechargement" class="btn btn-sm btn--plain btn--univers-carto " target="_blank">Télécharger les jeux de données de référence                </a>
                            <a href="https://geoservices.ign.fr/documentation" class="btn btn-sm btn--ghost  btn--univers-carto " target="_blank">Accéder à la documentation                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://espacecollaboratif.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Espace collaboratif</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://espacecollaboratif.ign.fr/georem/add" class="btn btn-sm btn--plain btn--univers-carto " target="_blank">Créer un signalement                </a>
                            <a href="https://espacecollaboratif.ign.fr/georem/" class="btn btn-sm btn--ghost  btn--univers-carto " target="_blank">Parcourir les signalements                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://remonterletemps.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Remonter le temps</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://remonterletemps.ign.fr/comparer/basic?x=2.117437&amp;y=46.489054&amp;z=6&amp;layer1=ORTHOIMAGERY.ORTHOPHOTOS&amp;layer2=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD&amp;mode=doubleMap" class="btn btn-sm btn--plain btn--univers-carto " target="_blank">Comparer des cartes et des photos aériennes anciennes et actuelles                </a>
                            <a href="https://remonterletemps.ign.fr/telecharger?x=2.708795&amp;y=46.179539&amp;z=6&amp;layer=GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD&amp;demat=DEMAT.PVA%24GEOPORTAIL%3ADEMAT%3BPHOTOS" class="btn btn-sm btn--ghost  btn--univers-carto " target="_blank">Télécharger des clichés et des cartes historiques                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://mesadresses.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Localiser mes adresses</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://mesadresses.ign.fr/geocod/" class="btn btn-sm btn--plain btn--univers-carto " target="_blank">Localiser des adresses                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://macarte.ign.fr/" target="_blank">
                                <span class="m-teaser-site__title-text">Créer ma carte</span>
            <span class="m-teaser-site__title-link">Voir le site</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://macarte.ign.fr/" class="btn btn-sm btn--plain btn--univers-carto " target="_blank">Créer une carte numérique                </a>
                    </div>
    </article>
            </div>
                    <div class="o-teaser-site__item">
                <article class="m-teaser-site bg-univers-carto-primary univers--carto    ">

    <p class="m-teaser-site__title">
                <a href="https://www.ign.fr/carto" target="_blank" class=" external-link">
                                <span class="m-teaser-site__title-text">Portail carto</span>
            <span class="m-teaser-site__title-link">Accéder au portail</span>                </a>
            </p>

    
            <div class="m-teaser-site__btn">
                            <a href="https://www.ign.fr/carto" class="btn btn-sm btn--plain btn--white  external-link" target="_blank">Découvrir tous les services carto                </a>
                    </div>
    </article>
            </div>
            </div>
</div>

                    <div class="container-content">
    <div class="o-banner o-banner--bg">
                  <a class="o-banner__inner external-link" href="https://www.ign.fr/geoplateforme/abonnez-vous-la-lettre-geoplateforme" target="_blank">
        
            <div class="o-banner__inner--smaller">
                
                
                                <div class="o-banner__desc"><p> </p>

<p> </p>

<h3>Ne manquez rien de l'actualité de la Géoplateforme</h3>

<p> </p>
</div>
                
                                <div class="o-banner__btn">
                    <span class="
                      btn
                      btn-active-effect
                      btn-width--lg
                       btn--plain                       btn--primary                     ">Abonnez-vous à la lettre d'information<span class="icon-external-link" aria-hidden="true"></span>                    </span>
                </div>
                            </div>

                </a>
        
                <div class="m-media-background">
    <img src="http://pignsintiapp01.hosting.cegedim.cloud/sites/default/files/styles/980_400/public/2022-01/banniere_lancement_nl_geoplateforme_1240x600_v4bis_0.png?itok=xXnlD6hq" alt="">
</div>
            </div>
</div>
                </div>
            </div>
            </li>
        <li class="megamenu__item univers--institut">
                    <a class="megamenu__link external-link" href="https://www.ign.fr/portail" target="_blank">
                <span class="icon-ecosystem" aria-hidden="true"></span>                <span class="megamenu__link-title">Portail IGN</span>
                
                            </a>
            </li>
    