{% trans_default_domain "PlageWebClient" %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'login_success.title' | trans  ~ ' - ' ~ parent() }}{% endblock %}

{% set hasBreadcrumb = 0 %}

{% set pageTitle = 'login_success.title' | trans %}

{% set titleLeadContent = 'login_success.lead' | trans %}

{% block customheaderNav %}
    {% include "components/_home_header.html.twig"%}
{% endblock %}

{% block body %}
    {% apply spaceless %}

    <div class="container-content text-center">
        <p>{{ 'login_success.closing_notice' | trans }}</p>
        
        <div id="spinner" class="spinner">
            <span class="icon-reinitialiser icons-spin"></span>
        </div>

        <button id="btn-close" class="btn btn--plain btn--primary btn-active-effect" onclick="windowClose();">
            {{ 'close' | trans }}
        </button>
    </div>

    <script language="javascript">
        function windowClose() {
            window.close();
        }
        (function(){
            setTimeout(() => {
                windowClose();
                document.getElementById('spinner').remove();
            }, 3000)
        })()
    </script>

    {% endapply %}
{% endblock %}
