{# error page #}
{% extends "base.html.twig" %}
{% trans_default_domain "PlageWebClient" %}

{% set hasBreadcrumb = 0 %}

{% block title %}{{ status_code ~ ' - ' ~ parent() }}{% endblock %}

{% block customheaderNav %}
    {% include "components/_home_header.html.twig"%}
{% endblock %}

{% block body %}
{% apply spaceless %}
    <div class="region region-content">
        <article role="article" class="node node--type-page node--view-mode-full">
            <header class="o-page-title">
                <div class="o-page-title__inner">
                    <div class="container-content container-content--smaller">
                        <h1><span class="field field--name-title field--type-string field--label-hidden">{{ status_code }}</span></h1>
                    </div>
                </div>
            </header>

            <div class="paragraph container-content container-content--smaller paragraph--type--image-texte paragraph--view-mode--default">
                <div class="clearfix">
                    <div class="m-media m-media-float float-left">
                        <i class="icons-alert icons-x10"></i>
                    </div>

                    <div class="wysiwyg">
                        <h2>{{ 'error.default' | trans }}</h2>
                        <p>{{ 'error.default_desc'|trans({'%status_code%': status_code, '%status_text%': status_text}) }}</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endapply %}
{% endblock %}
